# Dependencies
node_modules/

# Git
.git
.gitignore

# Database
users.db

# Documentation / Notes
*.md
synopsis/
UI examples/

# Internal folders
.agents/

# Docker files
Dockerfile
.dockerignore

# Logs
npm-debug.log

# terraform
terraform/

#kubernete
k8s/

#ClaudeCreatedIT
ClaudeCreatedIT/

#grafana dashboard json file
neon-kart-grafana-dashboard.json

#Jenkins File 
jenkinsfile

#K3s Credentials 
k3s.yaml

#Project Related Markdown Notes
ProjectRelatedMarkdownFiles/
