# Dependencies
node_modules/

# Git
.git
.gitignore

# Database
users.db

# Documentation / Notes
*.md
synopsis/
UI examples/

# Internal folders
.agents/

# Docker files
Dockerfile
.dockerignore

# Logs
npm-debug.log

# terraform
terraform/

#kubernete
k8s/

#ClaudeCreatedIT
ClaudeCreatedIT/

neon-kart-grafana-dashboard.json

jenkinsfile

k3s.yaml