# Dependencies
node_modules/

# Agents File
.agents/

# Documentation & Examples (Directories need a slash)
UI examples/
synopsis/

# Project Related Markdown Files
ProjectRelatedMarkdownFiles/

# Any Markdown File
*.md

#terraform
# Local .terraform directories
**/.terraform/*
# .tfstate files
*.tfstate
*.tfstate.*
# Crash log files
crash.log
crash.*.log
# Exclude all .tfvars files, which are likely to contain sensitive data, such as
# password, private keys, and other secrets.
*.tfvars
*.tfvars.json
# Ignore override files as they are usually used to override resources locally
override.tf
override.tf.json
*_override.tf
*_override.tf.json
# Ignore CLI configuration files
.terraformrc
terraform.rc

#rsa key of ec2
neon-kart-key.pem



# k3s.yaml
k3s.yaml
#



