# Dependencies
node_modules/

# Database
users.db

# Documentation & Examples (Directories need a slash)
UI examples/
synopsis/

# Specific Markdown files
*.md
Implementation.md
scenarios.md
strategy.md
report.md
technical_architecture.md
.agents


#terraform
terraform/


# k3s.yaml
#



